@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <main>
        <article>
            @Body
        </article>
        
        <NotAuthorized>
            @{ NavigationManager.NavigateTo("SignUp"); }
        </NotAuthorized>
    </main>
</div>

